/* Default styles */

.container p {
  color: rgba(255, 255, 255, 0.801);
  background-color: rgba(67, 0, 0, 0.71);
  padding: 10px;
  border-radius: 20px;
  margin: 1.5%;
  width: 44%;
  max-width: 850px;
  position: relative;
  left: 66vh;
  top: 4vh;;
  font-size: 22px;
  font-family: "Oswald";
  font-weight: normal;
  text-align: center;
}

.container h4 {
  font-size: 50px;
  color: rgb(135, 135, 135);
  text-align: center;
  margin-bottom: 10px;
}

.container h3 {
  font-size: 50px;
  color: rgb(133, 133, 133);
  text-align: center;
}

.container ul {
  background-color: rgba(51, 51, 51, 0);
  color: rgb(216, 214, 214);
  font-weight: lighter;
  width: 80%; 
  max-width: 20vw; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  position: relative;
  bottom: -1vh;
  margin: auto; 
  padding-top: 13px;
  font-family: Oswald;
  font-size: 2rem;
  border-radius: 15%;
  text-align: center;
}

.container li {
  list-style-type: none;
  margin-bottom: 2vh;
  width: 100%; 
}

.container li span {
  display: block; 
  width: 100%; 
}



.textarea {
  width: 100%;
  height: 600px;
  resize: vertical;
  border: none;
  outline: none;
  background-color: transparent;
  color: #cf0000;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

.contact {
  font-family: Oswald;
  font-size: 25px;
  display: inline-block;
  flex-direction: row;
  line-height: 1.45;
  text-align: left;
  width: 15vw;
  position: relative;
  left: 12vw;
  height: 30vh;
  margin-left: 28vw;
  padding: 20px;
  border: 2.5px solid #ccc;
  border-radius: 15px;
  background-color: rgba(67, 0, 0, 0.71);
}

.contact p {
  font-family: Oswald;
  text-align: left;
  position: relative;
  text-wrap: wrap;
  width: 550px;
  top: 50%;
  left: -60%;
  padding: 1.9vh;
  margin: 150px 250px;
  font-size: 10px;
  color: rgb(182, 182, 182);
  background-color: transparent;
  width: 125%;
}

.disclaimer {
  font-family: Oswald;
  font-size: 1.6rem;
  margin-bottom: 0px;
  font-weight: normal;
  color: rgba(179, 178, 178, 0.658);
  text-align: center;
}

.contact-card {
  margin-top: 25vh;
  position: relative;
  left: -13vw;
  margin-right: 25vh;
  color: rgb(114, 0, 0);
  display: inline-block;
  font-family: Oswald;
  font-size: 3.5vh;
  margin-left: 15vh;
  
}

.contact h4 {
  text-align: center;
}

.developers h4 {
  text-align: center;
}

.disclaimer h5 {
  text-align: center;
  font-size: 55px;
}

/* Media queries for responsiveness */

@media only screen and (max-width: 768px) {
  .container p {
    width: 90%;
    left: 5%;
  }
  
  .contact {
    width: 90%;
    margin-left: 5%;
  }
  
  .contact p {
    width: auto;
    margin: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .container p {
    width: 95%;
    left: 2.5%;
  }
  
  .contact {
    width: 95%;
    margin-left: 2.5%;
  }
}
