/* About.css */

.container p {
  color: rgba(255, 255, 255, 0.697);
  background-color: rgba(186, 130, 0, 0.597); /* Grey background with 50% opacity */
  padding: 10px; /* Adjust padding as needed */
  border-radius: 20px; /* Optional: Add rounded corners to the container */
  margin: 1.5%;
  width: 60%;
  position: relative;
  left: 40vh;
  font-size: 23px;
  font-family: "Oswald";
  font-weight: normal;
}

.container h4 {
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 10px;
}

.container h3 {
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.container ul{
  background-color: rgba(255, 174, 0, 0.3);
  color: rgb(0, 0, 0);
  font-weight: normal;
  width: 60vh;
  height: auto;
  margin-left: 9vh;
  font-family: Oswald;
  font-size: 25px;
  border-radius: 5%;
}

.textarea {
  width: 100%; /* Ensure the textarea fills the container */
  height: 600px; /* Set a fixed height for the textarea */
  resize: vertical; /* Allow vertical resizing of the textarea */
  border: none; /* Remove default textarea border */
  outline: none; /* Remove outline when focused */
  background-color: transparent; /* Make the textarea background transparent */
  color: #cf0000; /* Set text color */
  font-size: 16px; /* Set font size */
  font-family: 'Arial', sans-serif; /* Set font family */
}

.contact {
  font-family: Oswald;
  display: inline-block;
  flex-direction: row; /* Change flex-direction to row */
  width: 85vh;
  height: 50vh;
  margin-left: 58vh;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: rgba(197, 138, 0, 0.597)
}

.contact-card {
  position: relative;
  left: -13vh;
  margin-right: 25vh;
  color: rgb(255, 153, 0);
  display: inline-block;
  font-family: Oswald;
  font-size: 3.5vh;
  margin-left: 12vh;
}

.contact h4 {

  text-align: center;
}

.developers h4 {
  text-align: center;
}

.contact p {
  margin: -19vh; /* Remove default margin */
  text-align: center;
  margin-top: 0;
  width:60vh;
  padding-right: 25vh;
}

.contact li{
  list-style-type: none;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.contact .info {
  display: flex;
  flex-direction: column; /* Nested flex container for the info */
  margin-left: 10px; /* Add spacing between name and info */
}

.contact a {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px; /* Add spacing between name and info */
  color: rgb(0, 4, 255)
}
