.cards :hover {
    background-color: rgb(191, 144, 3);
    cursor: pointer;
}

.fighterLink{
    font-size: 39px;
    padding-top: 3px;
    font-family: "Sternbach";
    color:rgb(201, 8, 8) ;

}

.backButton :hover{
    cursor: pointer;
    background-color: lightblue;
}

