.form-div {
    text-align: center;
    font-family: "Oswald";
    letter-spacing: 3px;
    font-weight: 0;
    font-size: 20px;
    color: #bababa;
    background-color: #2d0000b4;
    padding: 13px 8px;
    border: solid #ffffff 3px;
    box-shadow: rgb(87, 87, 87) 5px 5px 25px 5px;
    border-radius: 15px;
    transition: 238ms;
    transform: translateY(0);
    text-transform: uppercase;
    width: 75%;
    margin-left: 12%;
    margin-right:2%;
    margin-top: 3.5%;
}

.login-input {
    margin-left: 10px;
    font-family: "Oswald";
    height: 40px;
    width: 200px;
    text-align: center;
    background-color: #aeaeae;
    border: solid #906900 2.5px;
    margin-bottom: 30px;
}

.p-input {
    margin-left: 8px;
    font-family: "Oswald";
    height: 40px;
    width: 200px;
    text-align: center;
    background-color: #aeaeae;
    border: solid #906900 2.5px;
    margin-bottom: 40px;
}

.login-btn {
    font-family: "Oswald";
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 60px; 
    height: 40px;
    width: 200px;
    font-size: 25px;
    text-align: center;
    background: rgb(148, 148, 148);
    border-bottom: 2.5px solid rgb(255, 10, 10);
    border-right: 2px solid rgb(0, 0, 0);
    z-index: 1000;
}

.login-btn:hover {
    border:3px solid rgba(0, 0, 0, 0);
}

.sign-btn {
    font-family: "Oswald";
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 0px; 
    height: 40px;
    width: 200px;
    font-size: 25px;
    text-align: center;
    background: rgb(148, 148, 148);
    border-bottom: 2.5px solid rgb(255, 10, 10);
    border-left: 2px solid rgb(0, 0, 0);
    z-index: 1000;
}

.sign-btn:hover {
    border:3px solid rgba(0, 0, 0, 0);
}


.sign-text {
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
}

.logged-not {
    margin-bottom: 40px;
}