body {
    margin: 0;
    padding: 0;
}

/* Adjust width of popup content wrapper */
.mapboxgl-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-content-wrapper {
    max-width: 90vw !important;
    background-color: #007bff;
    color: #007bff;

}

/* Popup content styling */


.mapboxgl-popup-content {
    display: flex;
    width: 90vw !important;
    /* Adjust the percentage as needed */
    max-width: 640px;
    /* Adjust the maximum width if necessary */
    height: 310px;
    background-color: #7c0000;
    border: 10px groove #d79300;
}


/* Popup styling */
.mapboxgl-popup.mapboxgl-popup-anchor-top {
    max-width: none;
    font-family: Arial, sans-serif;
}


.mapboxgl-popup-content h3 {
    font-family: Oswald;
    font-size: 25px;
    font-weight: bold;
    /* text-decoration: underline; */
    margin-bottom: 30px;
    padding-top: 0.5%;
    padding-left: 1%;
    text-align: left;
    color: #ea9000;
}

.mapboxgl-popup-content p {
    font-family: Oswald;
    font-size: 17px;
    margin-bottom: 10px;
    padding-bottom: -20px;
    padding-left: 1%;
    color: #ea9000;
    text-align: left;
    line-height: 14px;

}

/* Style the event poster image */
.mapboxgl-popup-content img {
    display: block;
    /* Ensure the image is a block element */
    margin: -255px 385px 10px;
    /* Center the image horizontally and adjust top margin */
    -webkit-box-shadow: -4px 6px 15px 12px #000000;
    box-shadow: -4px 6px 15px 12px #000000;
    max-width: 100%;
    height: auto;
}

.mapboxgl-popup-content p a {
    font-family: Oswald;
    font-weight: normal;
    color: rgb(4, 0, 255);
    /* Change the color of the link */
    text-decoration: underline;
    /* Remove underline */
    padding-left: 0%;

}

.mapboxgl-popup-content p a:hover {
    text-decoration: underline;
    /* Add underline on hover */
    color: #640000;
    background-color: #f09000;
}


.mapboxgl-popup-content p.label {
    font-weight: bold;
    font-size: 20px;
    color: rgb(179, 179, 179);
    padding-right: 7%;

}


.mapboxgl-popup-content img {
    display: flex;
    max-width: 100%;
    height: auto;
    background-color: #000000;
}

/* Popup styling */
.mapboxgl-popup {
    max-width: 520px;
    font-family: Arial, sans-serif;
}

.mapboxgl-popup-content-wrapper {
    padding: 10px;
    background-color: #007bff;
}

.mapboxgl-popup-close-button {
    font-size: 40px;
    color: #f09000;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: absolute;
    right: 11px;
}

.mapboxgl-popup-close-button:hover {
    color: #640000;
    background-color: #ea9000;
    ;
}


.marker-wrapper {
    width: 60px;
    height: 60px;
    float: left;
    position: relative;
    overflow: hidden;
}

/* Custom marker style */
.custom-marker {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -17.5px;
    /* Adjust based on marker size */
    left: -17.5px;
    /* Adjust based on marker size */
    background-image: url('assets/marker_icon.png');
    background-size: cover;
    border-radius: 50%;
}

.custom-marker:before {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    transform: rotate(45deg);
    content: '';
    border: inherit;
}



.popupBox {
    padding-bottom: 25%;
    background-color: #007bff;
}

/* Paragraph style */
.popup-paragraph {
    font-size: 15px;
    color: rgb(249, 146, 16);

}

/* Link style */
.popup-link {
    color: #007bff;
    /* Blue color */
    text-decoration: none;
}

/* Link hover style */
.popup-link:hover {
    text-decoration: underline;
    color: #b60000;
}

.searchBox {
    position: absolute;
    top: 13%;
    /* Adjust top position */
    left: 16%;
    /* Center horizontally */
    transform: translateX(-50%);
    background: rgb(154, 0, 0);
    height: 6vh;
    /* Use viewport height units */
    border-radius: 0%;
    /* Adjust border radius if needed */
    border-width: 0.6vh;
    /* Use viewport height units */
    border-color: #bd9b00;
    font-family: Oswald;
    z-index: 1000;
}

.searchBox:hover>.searchInput {
    width: 25vw;
    /* Use viewport width units */
    padding-top: 0%;
    color: #ea9000;
    font-family: Oswald;
    border-width: 0.6vh;
    /* Use viewport height units */
    border-color: #007bff;
    text-align: center;
    font-size: 3vh;
    /* Use viewport height units */
}

.searchBox:hover>.searchButton {
    background: rgb(181, 112, 0);
    color: #b60000;
    align-items: center;
}

.searchButton {
    color: rgb(255, 255, 255);
    width: 0.8vh;
    height: 6.8vh;
    float: left;
    border-radius: 5%;
    border-width: 0.6vh;
    /* Use viewport height units */
    border-color: rgb(163, 163, 163);
    background: #d00101;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    font-family: Oswald;
    font-size: 2vh;
    /* Use viewport height units */
    font-weight: lighter;
    padding-right: 3vw;
    padding-left: 3vw;
    margin-top: -0.60vh;
    /* Use viewport height units */
    margin-right: 0vh;
    margin-left: -0.5vh;
}

.searchInput {
    border: none;
    background: none;
    border-color: rgb(255, 0, 0);
    border-width: 1vh;
    /* Use viewport height units */
    float: right;
    padding: 0;
    color: rgb(200, 127, 0);
    font-size: 2.5vh;
    /* Use viewport height units */
    transition: 0.5s;
    line-height: 6vh;
    /* Use viewport height units */
    width: 0.1vh;
}

@media screen and (max-width: 320px) {
    .searchBox:hover>.searchInput {
        width: 0.1vw;
        /* Use viewport width units */
        padding: 10vw;
        /* Use viewport width units */
        border-width: 5px;
        border-color: #d79300;
    }

    .searchButton {
        width: 1.5vw;
        /* Use viewport width units */
        height: 54h;
        /* Use viewport height units */
        /* Use viewport width units */
    }
}

.searchResultsPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.searchResultsOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.searchResultsContent {
    font-family: Oswald;
    font-size: 25px;
    position: relative;
    display: flexbox;
    background-color: #620000;
    color: rgb(194, 110, 0);
    border-radius: 5%;
    justify-content: space-around;
    gap: 7rem;
    padding: 40px;
    max-width: 80%;
    margin-top: 5%;
    /* Adjust as needed */
    max-height: 80%;
    /* Adjust as needed */
    overflow-y: auto;
    /* Enable vertical scrollbar */
}

.searchResultsContent ul {
    list-style-type: none;
    padding: 0;
}

.searchResultsContent ul li {
    margin-bottom: 35px;
    border-bottom: 5px solid #ccc;
    padding-bottom: 35px;
}

.closeButton {
    position: relative;
    margin-left: 97%;
    display: flex;
    background-color: #ea900000;
    color: #ff9100;
    font-size: 20px;
    font-weight: bolder;
    border: 1px rgba(255, 0, 0, 0)
}


@font-face {
    font-family: "Sternbach";
    src: local("Sternbach"), local("Sternbach"),
        url("./fonts/Sternbach.otf");
    font-weight: bold;
}