body {
    margin: 0;
    padding: 0;
}

.mapboxgl-canvas {
    position: static !important;
    height: 95vh !important;
}

.popup {
    background-color: rgb(117, 0, 0);
    width: 250px;
    height: 250px;
    box-shadow: 6px 7px 16px 7px #000000;
    box-shadow: none !important;
}

/* Title style */
.popup-title {
    font-size: 15px;
    font-weight: bold;
    color: rgb(249, 146, 16);
}


.popupBox{
    padding-bottom: 25%;
}

/* Paragraph style */
.popup-paragraph {
    font-size: 15px;
    color: rgb(249, 146, 16);

}

/* Link style */
.popup-link {
    color: #007bff;
    /* Blue color */
    text-decoration: none;
}

/* Link hover style */
.popup-link:hover {
    text-decoration: underline;
}

@font-face {
    font-family: "Sternbach";
    src: local("Sternbach"), local("Sternbach"),
        url("./fonts/Sternbach.otf");
    font-weight: bold;
}