.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px; 
  width: 100vw;
  background: rgb(197, 197, 197);
  position: relative;
  border-bottom: 5px solid rgb(211, 0, 0); 
  z-index: 1000;
}

.nav_logo_link {
  display: flex;
  align-items: center;
}

.nav_logo {
  margin-left: 110px; 
}



.nav_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav_link {
  font-size: 1.9rem;
  font-family: "Sternbach";
  color: black;
  text-align: center;
  padding: 10px 20px;
  white-space: nowrap;
}

.nav_link:hover {
  background-color: rgba(154, 0, 0, 0.594);
  border-radius: 15px;
}

.nav_link_forum:hover {
  background-color: rgba(154, 0, 0, 0.594);
  border-radius: 15px;
}

.nav_linker:hover {
  background-color: #c9000000;
}

.nav_toggler {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
}

@media screen and (max-width: 1075px) {
  .nav_toggler {
    display: block;
  }

  .nav_menu {
    display: none;
    position: fixed;
    top: 70px; 
    left: 0;
    width: 100vw;
    height: calc(100vh - 70px); 
    background-color: rgb(184, 124, 14);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav_menu a {
    font-size: 2rem;
    padding: 20px;
  }

  .nav_menu a:hover {
    background-color: #c90000;
  }

  .nav_active .nav_menu {
    display: flex;
  }
}
