*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 79.5%;
}

body {
  font-size: 3rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(255, 0, 0);
}

/* Navbar.css */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Use space-between to evenly distribute items */
  height: 9vh;
  width: calc(100% + 18px);
  /* Adjust width by 1px */
  background: rgb(197, 197, 197);
  position: relative;
  border-bottom: 4px solid rgb(211, 0, 0);
  /* Simplify border shorthand */
  z-index: 1000;
}

/* Optional: Adjust padding or margin if necessary */
.nav>* {
  margin: 0 10px;
  /* Add margin to distribute space between items */
}


.nav_brand {
  background-image: url('./assets/UFC_Logo1.png');
  text-transform: uppercase;
  font-weight: bold;
  z-index: 999;
  position: absolute;
  left: 20px;
}

.about-logo {
  margin-top: -1px;
  position: relative;
  bottom: 1%;
}

.about-logo:hover {
  background-color: #c90000;
}

.forum-logo {
  margin-top: 0.6vh;
  position: relative;
  bottom: 0.5vh;
}

.nav_link {
  font-size: 29px;
  font-family: "Sternbach";
  color: black;
  padding-right: 4.5vh;
  padding-top: 20%;
  display: inline-flex;
  margin-bottom: 1px;
  margin-top: 30px;
  position: relative;
  bottom: 15%;

}


.lognav_link {
  font-size: 29px;
  font-family: "Sternbach";
  color: black;
  padding-right: 4.5vh;
  padding-top: 10%;
  display: inline-flex;
  margin-bottom: 1px;
  margin-top: 40px;
  position: relative;
  top: -2px;
}

.lognav_link:hover {
  background-color: #c90000;
}

.logoutnav_link {
  font-size: 29px;
  font-family: "Sternbach";
  color: black;
  padding-right: 4.5vh;
  padding-top: 10%;
  display: inline-flex;
  margin-bottom: 1px;
  margin-top: 40px;
  position: relative;
  top: -2px;
}

.logoutnav_link:hover {
  background-color: #c90000;
}


.ftnav_link {
  font-size: 29px;
  font-family: "Sternbach";
  color: black;
  padding-right: 2vh;
  display: inline-flex;
  margin-bottom: 1px;
  margin-top: 45px;
  position: relative;
  bottom: 5%;

}

.ftnav_link:hover {
  background-color: #c90000;
  position: relative;


}

.nav_left {
  margin-right: 26%;
}

.nav_logo {
  margin-left: 12vh;
  margin-top: 1.5vh;
}



.nav_menu {
  display: flex;
  align-items: right;
  justify-content: space-around;
  gap: 1vh;
  text-align: right;
}

.nav_toggler div {
  width: 6vh;
  height: 0.5vh;
  margin: 0.6vh;
  background: rgb(210, 10, 10);
  transition: 0.2s ease-in;
}

.nav_toggler {
  cursor: pointer;
  display: none;
  position: absolute;
  left: 100vh;
}

@media screen and (max-width: 1175px) {
  .nav_toggler {
    display:block;
  }

  .nav_menu {
    position: fixed;
    margin-top: 99.5vh;
    margin-left: 147.8vh;
    width: 18vh;
    height: 90vh;
    background-color: rgb(184, 124, 14);
    border-left: solid rgb(255, 10, 10) 0.8vh;
    ;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.2s ease-in;
  }
}

.nav_active {
  transform: translateX(0);
}

/* Toggler Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

.nav_link:hover {
  background-color: #c90000;
}