*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 79.5%;
}

body{
  font-size: 3rem;
}

li{
  list-style: none;
}

a{
  text-decoration:none;
  color: rgb(255, 0, 0);
}

/* Navbar.css */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7vh;
  background: rgb(184, 124, 14);
  position: relative; 
  border-bottom: solid;
  border-color: rgb(255, 10, 10);
  border-width: 6px;
}

.nav_brand {
  background-image: url('./assets/UFC_Logo1.png');
  text-transform: uppercase;
  font-weight: bold;
  z-index: 999;
  position: absolute; 
  left: 10px; 
}

.nav_link{
  font-size: 35px;
  font-family: "Sternbach";
  text-align:right;
  color: black;
  
}

.nav_left{
  padding-right:50%;
}

.nav_menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
}

.nav_toggler div{
  width: 4rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(210, 10, 10);
  transition: 0.2s ease-in;
}

.nav_toggler {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 2544px)  {
  .nav_toggler {
    display: block;
  }

  .nav_menu{
    position: fixed;
    top: 7vh;
    right: 0;
    width: 15%;
    height: 93vh;
    background-color: rgb(219, 149, 16);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.2s ease-in;
  }
} 

.nav_active {
  transform: translateX(0);
}
  
/* Toggler Icon Animation */

.toggle .line1{
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-4px, -5px);
}

.nav_link:hover {
  background-color: #9c0000;
}

